@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

.loginHead{
    font-family: 'Ultra', serif;
}
.translate-z-1:hover {
    transform: translateZ(-10px);
}
    
    
.bg-black{
    background-color: #000;
}